@import '../../assets/styles/partials/variables';
.dropdown {
  position: relative;
  display: inline-block;
  button {
    background: transparent;
    outline: none;
  }
  &__head {
    position: relative;
    padding: 8px 15px 8px 5px;
    border: unset;
    border-bottom: 1px solid $lightGrey;
    cursor: pointer;
    transition: .2s linear;
    &-line {
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $primary;
      transition: .2s ease-in;
    }
    &:hover {
      border-color: $border;
      .dropdown__arrow {
        svg {
          path {
            opacity: 1;
            stroke: $border;
          }
        }
      }
    }

  }
  &__arrow {
    position: absolute;
    top: 50%;
    right:  0;
    font-size: 0;
    transform: translateY(-50%) rotate(0deg);
    transition: .2s;
    svg {
      path {
        opacity: 1;
        transition: .2s;
        stroke: $lightGrey;
      }
    }
  }
  &__icon {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    svg {
      vertical-align: middle;
    }
    &:after {
      position: absolute;
      top: 50%;
      right: -10px;
      width: 1px;
      height: 13px;
      background-color: $lightGrey;
      transform: translate(-50%, -50%);
      content: "";
    }
  }
  &__selected {
    vertical-align: middle;
  }
  &__options {
    position: absolute;
    top: 100%;
    height: 0;
    max-height: 100px;
    padding: 5px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #E1E4E8;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  &__option {
    display: block;
    padding: 10px 0;
    border: none;
    cursor: pointer;
  }

  &--opened {
    .dropdown__head {
      &-line {
        width: 100%;
      }
      &:hover {
        .dropdown__arrow {
          transform: translateY(-50%)rotate(180deg);
          svg {
            path {
              opacity: 1;
              stroke: $primary;
            }
          }
        }
      }
    }
    .dropdown__arrow {
      transform: translateY(-50%)rotate(180deg);
      svg {
        path {
          opacity: 1;
          stroke: $primary;
        }
      }
    }
    .dropdown__options {
      height: 100px;
      opacity: 1;
    }
  }
}