@import '../../assets/styles/partials/variables';

.loader {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 20px;
  background-color: $primary;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 26px;
    height: 26px;
    border: 1px solid $primary;
    transform: translate(-50%, -50%) ;
    animation: loaderSpin 2s ease-in infinite;
    content: '';
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    color: $white;
    font-weight: bolder;
    font-size: 102px;
    line-height: 26px;
    transform: translate(-50%, -50%);
    animation: loaderSpin 2s ease-in infinite;
    content: "+";
  }

  &--white {
    &::after {
      color: $white;
    }
  }

  &--gray {
    &::after {
      color: #fafbfc;
    }
  }
}

@keyframes loaderSpin {
  0% {
    transform: scale(1) translate(-50%, -50%) rotate(0deg) ;
  }
  10%, 20% {
    transform: scale(1.4) translate(-35%, -35%) rotate(0deg) ;
  }
  30%, 45% {
    transform: scale(1.4) translate(-35%, -35%) rotate(-90deg) ;
  }
  55%, 100% {
    transform: scale(1) translate(-50%, -50%) rotate(-90deg) ;
  }
}