@import "../../assets/styles/partials/variables";
.field {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  text-align: left;
  border-bottom: 1px solid $lightGrey;
  svg {
    position: relative;
    vertical-align: middle;
  }

  &__input {
    width: 85%;
    margin-left: 17px;
    padding: 8px 0;
    vertical-align: middle;
    background: transparent;
    border: none;
    outline: none;
    &::-webkit-input-placeholder {
      opacity: 0;
    }
    &:focus,
    &:not(:placeholder-shown) {
      & ~ .field__line {
        width: 100%;
      }
      & + .field__label {
        top: 0;
        color: $primary;
        font-size: 9px;
      }
    }

    &--textarea {
      max-width: 100%;
      min-height: 80px;
      padding: 10px;
      background-color: transparent;
      border: 1px solid #e1e4e8;
      border-radius: 2px;
      outline: none;
      transition: .2s;
      &::-webkit-input-placeholder {
        opacity: 0;
      }
      &:focus {
        border-color: $primary;
        & + .field__label--textarea {
          color: $primary;
        }
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 40px;
    z-index: -1;
    color: $placeholderColor;
    font-size: 14px;
    transform: translateY(-50%);
    transition: 0.2s;

    &--textarea {
      position: absolute;
      bottom: 100%;
      margin-bottom: 4px;
      &>span {
        color: $placeholderColor;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
      }
    }
  }

  &__error-text {
    position: absolute;
    top: 35px;
    width: 100%;
    font-size: 11px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
  }

  &__line {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $primary;
    border-bottom: 1px solid $primary;
    transition: 0.3s ease-in;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 1px;
    height: 16px;
    background-color: $lightGrey;
    transform: translateY(-50%);
    content: '';
  }

  &--error {
    border-bottom: {
      width: 1px;
      style: dashed;
      color: $primary;
    }
    &.field--textarea {
      padding-bottom: 1px;
      border-bottom: none;
    }
    .field__error-text {
      visibility: visible;
      opacity: 1;
    }
    .field__input {
      &:focus,
      &:not(:placeholder-shown) {
        & ~ .field__line {
          width: 0%;
        }
        & + .field__label {
          top: 0;
          color: $primary;
          font-size: 9px;
        }
      }
      &:focus {
        & ~ .field__line {
          width: 100%;
        }
      }

      &--textarea {
        border-color: $primary;
        border-style: dashed;
      }
    }
    
  }

  &--textarea {
    position: relative;
    .field__error-text {
      top: unset;
      bottom: -17px;
    }
    .hint {
      position: relative;
      z-index: 1;
      margin-left: 10px;
      transform: translate(0,0);
    }
  }

  .hint {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
  }
}
