node_modules/
docs/
build/
dist/linux-unpacked/
dist/builder-effective-config.yaml
dist/zero_one-app_1.0.0_amd64.deb
dist/config.json
dist/contracts/
dist/wallets/
dist/data/
dist/win-unpacked/
coverage/
src/data/
