@import "../../assets/styles/partials/variables";

.btn {
  position: relative;
  padding: 14px 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: 0.2s linear;

  &__hint {
    position: absolute;
    right: -100%;
    bottom: calc(100% + 10px);
    left: 0;
    z-index: 999;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;

    &-content {
      display: inline-block;
      padding: 14px 16px 16px;
      color: #4d4d4d;
      font-size: 11px;
      line-height: 13px;
      white-space: pre-line;
      text-align: left;
      background: #fff;
      border: 1px solid #000;
      border-radius: 2px;
    }
  }

  &--with-hint {
    &:hover {
      .btn__hint {
        visibility: visible;
        opacity: 1;
      }
    }

    &:active,
    &:focus {
      .btn__hint {
        color: #000;
      }
    }
  }

  svg,
  &__icon,
  &__text {
    vertical-align: middle;
  }

  svg {
    path,
    circle {
      transition: 00.2s;
    }
  }

  &__icon {
    svg {
      margin-right: 10px;
    }
    &--block {
      display: block;
      text-align: center;
      svg {
        margin: 0 auto 10px;
      }
    }
  }

  &[disabled]{
    cursor: default;

    .btn__content {
      opacity: .5;
    }
  }

  &--black {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
    &:hover {
      color: $primary;
      background-color: $white;
      border-color: $lightGrey;
      svg {
        path {
          transition: 0.2s;
          stroke: $primary;
        }
      }
    }
    &:active {
      border-color: $primary;
    }
  }

  &--gray-bordered {
    color: $gray;
    font-size: 14px;
    line-height: 107.5%;
    background-color: transparent;
    border: 1px solid $gray;
    border-radius: 2px;
    transition: color 0.2s, border-color 0.2s;

    &:hover,
    &:active {
      color: $primary;
      border-color: $primary;
    }
  }

  &--white {
    color: $primary;
    background-color: $white;
    border: 1px solid $lightGrey;
    svg {
      path {
        transition: 0.2s;
        fill: #808080;
      }
      circle {
        transition: 0.2s;
        stroke: #808080;
      }
    }
    &:hover {
      border-color: $primary;
      svg {
        path {
          fill: $primary;
        }
        circle {
          stroke: $primary;
        }
      }
    }
    &:active {
      color: $white;
      background-color: $primary;
      border-color: #808080;
      svg {
        path {
          fill: $white;
        }
        circle {
          stroke: $white;
        }
      }
    }
  }

  &--link {
    padding: 0;
    color: $linkColor;
    background-color: transparent;
    border-bottom: 1px solid $linkColor;
    svg {
      path {
        stroke: $linkColor;
      }
    }
    &:hover {
      color: $secondary;
      border-color: $secondary;
      svg {
        path {
          stroke: $secondary;
        }
      }
    }
  }

  &--project {
    @extend .btn--white;
    width: 145px;
    height: 85px;
    padding: 10px 10px;
    font-weight: 700;
    font-size: 14px;
  }

  &--addproject {
    @extend .btn--project;
    color: $border;
    font-weight: 400;
    border-style: dashed;
    border-radius: 0;
    .btn__content {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .btn__icon {
        flex-grow:1;
      }
      .btn__text {
        flex-grow: 1;
        width: 50px;
        text-align: left;
      }
    }
    &:hover {
      color: $primary;
    }
  }

  &--showseed {
    @extend .btn--white;
  }

  &--back {
    @extend .btn--link;
    border: none;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--240 {
    width: 240px;
  }

  &--310 {
    width: 310px;
  }

  &--with-play-icon {
    width: 100%;
    padding: 26px 96px 26px 100px;
    background: #fff;
    border: 1px solid #e1e4e8;

    .btn__text {
      color: #000;
      font-weight: 300;
      font-size: 18px;
      font-family: "Grotesk";
      line-height: 21px;
    }

    svg {
      width: auto;
      height: auto;
    }
  }
}

