@import '../../../assets/styles/partials/variables';
.question {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  height: 125px;
  background-color: $white;
  border: 1px solid $lightGrey;
  &__left {
    align-self: flex-start;
    width: 80%;
    height: 100%;
    padding: 5px 30px;
    border-right: 1px solid $lightGrey;
    cursor: pointer;
  }
  &__right {
    width: 20%;
    text-align: center;
  }
  &__id {
    color: $lightGrey;
    font-size: 11px;
  }
  &__caption {
    max-width: 70%;
    margin: 10px 0 15px;
    font-weight: 700;
    font-size: 18px;
  }
  &__description {
    max-width: 70%;
    font-size: 11px;
  }
  &__start {
    width: 50%;
    margin: 0 auto;
    &-icon {
      cursor: pointer;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    &-label {
      margin-top: 10px;
      color: $primary;
      font-size: 11px;
    }
  }
} 