.create-question {
  width: 100%;

  &__top {
    display: inline-block;
    width: 100%;
    margin: 0 -15px;

    .dropdown {
      width: 100%;
    }

    &-left,
    &-right {
      display: inline-block;
      width: 50%;
      padding: 0 15px;
      vertical-align: top;
    }
  }

  &__sub-title {
    margin-top: 8px;
    margin-bottom: 13px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 16px;
  }

  &__content {
    min-height: 324px;
    padding: 10px 0;

    &--empty {
      height: 100%;
      max-height: 324px;
      text-align: center;

      &::after {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: '';
      }

      &-text {
        display: inline-block;
        max-width: 261px;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        vertical-align: middle;
      }
    }
  }

  &__description {
    margin-top: 9px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 11px;
    line-height: 13px;
  }

  &__tab-list {
    display: none;
  }
}