@mixin title {
  margin-top: 18px;
  margin-bottom: 8px;
  color: #000;
  font-weight: 700;
  font-size: 24px;
  font-family: "Grotesk";
  line-height: 28px;
  text-align: center;
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}