.voting {
  margin-top: 120px;

  &__top {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 16px;

    &-button {
      width: 100%;
      padding: 26px 96px 26px 100px;
      background: #fff;
      border: 1px solid #e1e4e8;
      outline: none;
      cursor: pointer;

      &-icon,
      &-text {
        display: inline-block;
        vertical-align: middle;
      }

      &-icon {
        margin-right: 16px;

        svg {
          width: auto;
          height: auto;
        }
      }

      &-text {
        color: #000;
        font-weight: 300;
        font-size: 18px;
        font-family: "Grotesk";
        line-height: 21px;
      }
    }
  }

  &__item {
    min-height: 126px;
    margin-bottom: 8px;
    padding: 16px 8px 16px 30px;
    font-size : 0;
    background: #fff;
    border: 1px solid #e1e4e8;
    transition: border-color 0.3s;

    &-info,
    &-date,
    &-progress {
      display: inline-block;
      vertical-align: middle;
    }

    &-info {
      width: 60%;
    }

    &-date,
    &-progress {
      width: 20%;
    }

    &-date {
      padding: 10px 0;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 1px solid rgba(0, 0, 0, 0.1);

      &-block {
        display: inline-block;
        padding: 0 39px;

        &:first-child {
          margin-bottom: 16px;
        }
      }

      &-text {
        color: rgba(0, 0, 0, 0.7);
        font-size: 11px;
        line-height: 13px;
        text-align: left;
      }
    }

    &-progress {
      padding: 0 36px;
    }

    &-index {
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.2);
      font-size: 11px;
      line-height: 13px;
    }

    &-title {
      margin-bottom: 8px;
      color: rgba(0, 0, 0, 1);
      font-size: 18px;
      line-height: 21px;
    }

    &-description {
      margin-bottom: 10px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 11px;
      line-height: 13px;
    }

    &:hover {
      border: 1px solid #000;
    }
  }

  &__decision {
    &--progress {
      .voting__decision {
        &-title {
          margin-bottom: 8px;
          color: #000;
          font-size: 14px;
          line-height: 16px;
          text-align: left;
        }
      }
    }

    &-state {
      color: rgba(0, 0, 0, 1);
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
    }

    &-icon {
      margin-top: 16px;
      text-align: center;

      svg {
        width: 32px;
        height: 32px;
      }
    }

    &-title {
      margin-bottom: 4px;
      color: rgba(0, 0, 0, 0.7);
      font-weight: 700;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
    }

    &-text {
      color: rgba(0, 0, 0, 0.7);
      font-size: 11px;
      line-height: 13px;

      &--remained {
        margin-top: 16px;
        text-align: left;
      }
    }
  }
}