@import '../../assets/styles/partials/variables';

.indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 10px 5px;
  background-color: $white;
  border: 1px solid $primary;
  transform: rotate(45deg);
  transition: .3s linear;
  
  &--checked {
    background-color: $primary;
  }
}