@import '../../assets/styles/partials/variables';

.indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid $primary;
  transform: rotate(45deg);
  &--checked {
    background-color: $primary;
  }
}