.form__wrapper {
  margin-top: 56px;
}

.input__wrapper {
  .field {
    width: 100%;
    max-width: 309px;
    margin-bottom: 0px;
  }
}

.button__wrapper {
  margin-top: 48px;
  margin-bottom: 59px;

  button {
    width: 100%;
    max-width: 309px;
  }
}