@import '../../assets/styles/partials/variables';

.heading {
  text-align: center;
  &--main {
    width: 112%;
    margin-bottom: 5px;
    color: $primary;
    font-weight: bold;
    font-size: 24px;
    transform: translateX(-6%);
  }
  &--sub {
    color: $secondary;
    font-size: 14px;
  }
}