@import '../../assets/styles/partials/variables';

.hint {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: default;

  &__icon {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    transition: 0.2s;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: $white;
      border: 1px solid $border;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: 0.2s;
      content: '';
    }

    &::after {
      position: relative;
      top: 1px;
      z-index: 3;
      font-weight: 400;
      content: ' ? ';
    }

    &:hover {
      color: $white;

      &:before {
        background-color: $primary;
        border-color: $primary;
      }

      & + .hint__text {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__text {
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 1;
    width: 292px;
    padding: 21px;
    font-size: 11px;
    line-height: 13px;
    white-space: pre-wrap;
    text-align: left;
    background-color: #fff;
    border: 1px solid $border;
    transform: translateZ(0);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
  }
}