.date-picker {
  position: relative;
  display: inline-block;
  max-width: 240px;

  &__base {
    position: relative;
  }

  &__input {
    position: relative;
    display: inline-block;
    width: 73px;
    padding: 8px 0;
    color: #181818;
    font-size: 14px;
    line-height: 16px;
    background: transparent;
    border: unset;
    outline: none;
    transition: border-bottom-color 0.3s;

    &-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
    }

    &-placeholder {
      position: absolute;
      top: 50%;
      color: rgba(24, 24, 24, 0.5);
      font-size: 14px;
      line-height: 16px;
      transform: translateY(-50%);
      cursor: text;
      transition: all 0.3s;
    }

    &::-webkit-input-placeholder {
      color: transparent;
    }

    &:focus {
      & + .date-picker__input-after {
        .date-picker__input-line {
          background-color: rgba(0, 0, 0, 1);
        }
      }
    }

    &:focus,
    &:not(:placeholder-shown) {
      & + .date-picker__input-after {
        .date-picker__input-placeholder {
          top: 0;
          font-size: 9px;
          line-height: 11px;
        }
      }
    }
  }

  &__min {
    margin-left: 22px;

    & + .date-picker__input-after {
      .date-picker__input-placeholder {
        left: 38px;
      }
    }
  }

  label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  &__arrow {
    &--basic {
      display: inline-block;
      margin-right: 7px;
      margin-left: 9px;
      vertical-align: middle;
    }

    svg {
      width: auto;
      height: auto;
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &::after {
      position: absolute;
      top: 50%;
      right: -10px;
      width: 1px;
      height: 13px;
      background-color: rgba(0, 0, 0, 0.1);
      transform: translate(-50%, -50%);
      content: "";
    }
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: -28px;
    padding: 5px;
    color: #e1e4e8;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    outline: none;
    transform: translateY(-50%);
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    transition: color 0.3s, border-color 0.3s, opacity 0.3s;

    &:hover,
    &:active {
      color: #000;
      border-color: #000;
    }

    &--visible {
      visibility: visible;
      opacity: 1;
    }

    svg {
      width: 7px;
      height: 7px;
    }
  }
}

.litepicker {
  .container__months.columns-2 {
    border: 1px solid #e1e4e8;
    border-radius: 0;
    box-shadow: unset;
  }
}

.DateRangePicker {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}

.DateRangePickerInput {
  background-color: transparent;

  &__withBorder {
    border: unset;
  }
}

.DateInput {
  width: 100px;
  background-color: transparent;

  &_input {
    padding: 9px 11px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background-color: transparent;
    border: unset;
  }
}

.CalendarMonth_caption {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.DayPickerNavigation_button__default,
.CalendarDay__default,
.CalendarDay__blocked_out_of_range,
.CalendarDay__blocked_out_of_range:active,
.CalendarDay__blocked_out_of_range:hover,
.DayPickerNavigation_button__default:focus,
.DayPickerNavigation_button__default:hover {
  border: unset;
  outline: none;
}

.CalendarDay__default {
  // color: #000;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  color: #000;
  background: rgba(128, 128, 128, 0.8);
  border-color: rgba(128, 128, 128, 0.8);
}

.CalendarDay__selected_span,
.CalendarDay__selected_span:hover,
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  color: #000;
  background: rgba(230, 230, 230, 0.8);
  border-color: rgba(230, 230, 230, 0.8);
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  display: none;
}