.date-picker {
  display: inline-block;
  max-width: 240px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &::after {
      position: absolute;
      top: 50%;
      right: -10px;
      width: 1px;
      height: 13px;
      background-color: rgba(0, 0, 0, 0.1);
      transform: translate(-50%, -50%);
      content: "";
    }
  }
}

.DateRangePicker {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}

.DateRangePickerInput {
  background-color: transparent;

  &__withBorder {
    border: unset;
  }
}

.DateInput {
  width: 100px;
  background-color: transparent;

  &_input {
    padding: 9px 11px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background-color: transparent;
    border: unset;
  }
}

.CalendarMonth_caption {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.DayPickerNavigation_button__default,
.CalendarDay__default,
.CalendarDay__blocked_out_of_range,
.CalendarDay__blocked_out_of_range:active,
.CalendarDay__blocked_out_of_range:hover,
.DayPickerNavigation_button__default:focus,
.DayPickerNavigation_button__default:hover {
  border: unset;
  outline: none;
}

.CalendarDay__default {
  // color: #000;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  color: #000;
  background: rgba(128, 128, 128, 0.8);
  border-color: rgba(128, 128, 128, 0.8);
}

.CalendarDay__selected_span,
.CalendarDay__selected_span:hover,
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  color: #000;
  background: rgba(230, 230, 230, 0.8);
  border-color: rgba(230, 230, 230, 0.8);
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  display: none;
}