@import '../../assets/styles/partials/variables';

.lang {
  display: inline-block;

  &--opened {
    .lang__options {
      visibility: visible;
      opacity: 1;
    }
    .lang--selected{
      &:after {
        border-color: transparent transparent $primary transparent;
        border-width: 0px 3px 6px 3px;
      }
    }
  }

  &--selected {
    position: relative;
    display: block;
    padding: 5px 0;
    font-weight: bold;
    cursor: pointer;
    &:after {
      top: 50%;
      right: 0;
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 5px;
      border-color: $primary transparent transparent transparent;
      border-style: solid;
      border-width: 6px 3px 0 3px;
      transform: translateY(-50%);
      transition: .2s;
      content: '';
    }
  }

  &__options {
    position: absolute;
    display: inline-block;
    width: max-content;
    padding: 5px 10px;
    border: 1px solid $border;
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;
  }

  &__option {
    display: block;
    padding: 5px 0;
    font-size: 16px;
    background-color: $white;
    border: none;
    outline: none;
    cursor: pointer;
  }
}