@import '../../assets/styles/partials/variables';
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  background-color: $white;
  border: 1px solid $lightGrey;
  transform: translate(-50%, -50%);
  &--wide {
    width: 550px;
    .form__block {
      padding: 60px 50px;
      .btn {
        margin: 0;
      }
    }
  }
  &--ultrawide {
    width: 1062px;
    .form__block {
      padding: 70px 90px 110px;
    }
  }
  &__block {
    padding: 60px 90px;
    text-align: center;
    .heading {
      margin-bottom: 60px;
    }
    .dropdown {
      width: 100%;
      margin: 10px 0;
    }
    .field {
      width: 100%;
      margin: 10px 0;
    }
    .btn {
      display: block;
      margin: 10px auto;
      &--default {
        width: 100%;
        margin: 20px 0;
      }
    }
  }
  &__submit {
    text-align: center;
  }
  .btn--back {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__explanation {
    position: absolute;
    top: 50%;
    width: 60%;
    text-align: left;
    transform: translateY(-50%);
    &--left {
      right: 100%;

    }
    &--right {
      left: 102%;
    }
    ul {
      list-style: none;
      .indicator {
        margin: 7px 5px;
        vertical-align: middle;
      }
    }
  }
  &__group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .field {
      width: 45%;
      &__input {
        width: 70%;
      }
    }
  }
}
.seed {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &__word {
    display: inline-block;
    width: 33%;
    margin-bottom: 30px;
    text-align: left;
    &-id {
      display: inline-block;
      margin-right: 10px;
      color: #181818;
      opacity: .5;
    
    }
    &-text {
      font-weight: bold;
    }
  }
  .field {
    position: relative;
    width: 30%;
    padding: 8px 5px;
    &:before {
      left: 30px;
    }
    &__input {
      position: absolute;
      top: 50%;
      right: 0;
      width: 65%;
      margin-left: 0;
      transform: translateY(-50%);
      &:not(:placeholder-shown) {
        & ~ .field__line {
          width: 0%;
        }
      }
      &:focus {
        & ~ .field__line {
          width: 100%;
        }
      }
    }
    &__line {
      width: 0;
    }
  }
}
.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
}
.create, .add-project {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &>a {
    display: inline-block;
    width: calc(50% - 5px);
    .btn--white {
      display: inline-block;
      width: 100%;
      svg {
        path {
          fill: $white
        }
      }
      &:active {
        svg {
          path {
            fill: $primary;
            stroke: $white;
          }
        }
      }
    }
  }
} 
.create {
  .btn--white {
    padding: 15px;
    svg {
      height: 25px;
      margin: 0 0 10px;
      path {
        fill: $white;
      }
    }
  }
  &__label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
  }
}
.progress {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}