@import "./partials/variables";
@import "./includes/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Grotesk";
}

body {
  background-color: #FAFBFC;

  &::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
    width: 100%;
    height: 100%;
    overflow: unset;
    background: rgba(250, 250, 250, 0.5);
    opacity: 0;
    filter: blur(10px);
    transition: opacity 0.4s 0.1s;
    content: '';
    pointer-events: none;
  }

  &.dialog-overlay {
    overflow: hidden;

    &::after {
      opacity: 1;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  width: 18px;
  height: 18px;
}

.step-indicator {
  position: absolute;
  bottom: 100%;
  left: 50%;
  color: #808080;
  font-size: 12px;
  text-align: center;
  transform: translate(-50%, 30%);
}

.progress-block{
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  transition: .3s linear;
  .progress-line{
    position: absolute;
    top: 50%;
    left: 100%;
    width: 96px;
    border: 1px dashed rgba($color: $primary, $alpha: .5);
    transform: translateY(-50%);
    opacity: 0;
    transition: .3s ease-in;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    & > svg {
      width: 42px;
      height: 42px;
      path {
        transition: .2s;
        fill: rgba($color: $primary, $alpha: .5);
      }
    }
  }
  &>svg {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, 0%) scale(1);
  }
  .stroke-still {
    stroke-dasharray: 2;
    stroke-width: 4;
    transition: .2s;
    stroke: rgba($color: $primary, $alpha: .5);
  }
  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
  }
  &>p{
    width: 100%;
    margin: 90px 0 0;
    color: #37474F;
    font-size: 12px;
    opacity: .5;
    span {
      display: block;
      margin-bottom: 10px;
    }
    &+strong {
      display: inline-block;
      width: 165%;
      margin: 5px 0 0 -35%;
    }
  }

  &.success{
    .progress-block__icon {
      &>svg {
        path {
          fill: rgba($color: $primary, $alpha: 1);
        }
      }
    }
    .stroke-still {
      stroke-dasharray: 0;
      stroke: rgba($color: $primary, $alpha: 1);
    }
    & > img {
      opacity: 1;
    }
    .progress-line{
      width: 96px;
      border-top: 2px solid rgba($color: $primary, $alpha: 1);
      opacity: 1;
    }
    &>p{
      color: $primary;
      opacity: 1;
    }
  }
  &.active{
    & > img {
      opacity: 1;
    }
    .progress-block__icon {
      svg {
        path {
          fill: $primary
        }
      }
    }
    .progress-line {
      opacity: 1;
    }
    .stroke-still {
      stroke: transparent;
    }
    .stroke-animation {
      stroke-width: 4;
      animation: stroke-spacing 4s ease-in, stroke-color 5.2s linear;
      animation-iteration-count: infinite;
      animation-delay: 0;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-play-state: running;
      transform-origin: center center;
    }
    &>p{
      color: $primary;
      opacity: 1;
    }
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

@keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}


@keyframes stroke-color {
  0%  { stroke: $primary; }
  24% { stroke: $primary; }
  25% { stroke: $primary; }
  49% { stroke: $primary; }
  50% { stroke: $primary; }
  74% { stroke: $primary; }
  75% { stroke: $primary; }
  99% { stroke: $primary; }
}

::-webkit-scrollbar-thumb {
  border: 1px solid $border;
}