.questions {
  margin: 0 auto;
  &__head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
    &-create {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 45%;
    }
    &-filters {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 25%;
      .dropdown {
        width: 100%;
      }
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns:1fr;
    row-gap: 10px;
    overflow-y: a;
  }
}